// 
// _table.scss
// 
.p-treetable-wrapper{
    .p-treetable-thead{
        tr{
            th{
                text-align: left;
                padding: 0.75rem 1rem;
                border: 1px solid #e2e8f0;
                border-width: 0 0 1px 0;
                font-weight: 600;
                color: #334155;
                background: #ffffff;
                transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
                color: #000;
                background-color: #f3f6f9;
            }
        }
    }
    .p-treetable-tbody{
        tr{
            td{
                text-align: left;
                padding: 0.75rem 1rem;
                border: 1px solid #e2e8f0;
                border-width: 0 0 1px 0;
                color: #334155;
                background: #ffffff;
                transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
            }
        }
    }
}
.p-organizationchart{
    &-table > tbody > tr > td {
        text-align: center;
        vertical-align: top;
        padding: 0 0.75rem;
    }
    .p-organizationchart-line-top {
        border-top: 1px solid #e2e8f0;
        border-color: #e2e8f0;
    }
    .p-organizationchart-line-left {
        border-right: 1px solid #e2e8f0;
        border-color: #e2e8f0;
    }
    .p-organizationchart-lines {
        :nth-child(1 of .p-organizationchart-line-right) {
            border-left: 1px solid #e2e8f0;
            border-top-left-radius: 6px;
        }
        
        :nth-child(1 of .p-organizationchart-line-left) {
            border-right: none;
        }
    }
   
    
}
.p-treeselect-items-wrapper{
    ul{
        padding-left:0;
        ul{
            padding-left:0.8rem;
        }
    }
}
.p-dropdown-items-wrapper{
    ul{
        padding-left:0;
    }
}

.table {

    .table-light {
        color: $body-color;
        border-color: $table-border-color;
        background-color: var(--#{$variable-prefix}light);
    }

    >thead {
        border-color: $table-border-color;
    }
    >:not(:first-child) {
        border-top-width: $table-border-width;
    }
}


.table-nowrap {

    th,
    td {
        white-space: nowrap;
    }
}

// card table

.table-card{
    margin: (-$card-spacer-y) (-$card-spacer-x);

    th,
    td {

        &:first-child{
            padding-left: 16px;
        }

        &:last-child{
            padding-right: 16px;
        }
    }

    .table > :not(:first-child) {
        border-top-width: $table-border-width;
    }
}

@each $color,
$value in $theme-colors {
    .border-#{$color} {
        &.table {
            > thead {
                border-color: $value !important;
            }
        }
    }
    .table-#{$color} {
        &.table {
            > thead {
                border-bottom-color:lighten($value, 10%) !important;
            }
        }
    }
}

.table>:not(caption)>*>* {
    color: var(--vz-table-color-state), var(--vz-table-color-type, var(--vz-table-color));
}

.table {
    .form-check {
        padding-left: 0px;
        margin-bottom: 0px;
        .form-check-input {
            margin-left: 0px;
            margin-top: 0px;
            float: none;
            vertical-align: middle;
        }
    }
    .sort {
        position: relative;
        &::before {
            content: "\f035d";
            position: absolute;
            right: 0.5rem;
            top: 18px;
            font-size: 0.8rem;
            font-family: "Material Design Icons";
        }
        &::after {
            position:absolute;
            right: 0.5rem;
            content: "\f0360";
            font-family: "Material Design Icons";
            font-size: 0.8rem;
            top: 12px;
        }
    }
}

[data-bs-theme="dark"]{
    .table-light{
        background-color: var(--#{$variable-prefix}light);
        color: var(--#{$variable-prefix}body-color);
        th, td{
            background-color: var(--#{$variable-prefix}light);
        }
    }
}