//
// _authentication.scss
//


.auth-page-wrapper{
    .auth-page-content{
        position: relative;
        z-index: 2;
        width: 100%;    
        padding: 0 12px;
    }
    .bg-dark{
        background-color:#272E48  !important;
    }
    
    .card{
        margin-bottom: 0;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        word-wrap: break-word;
    }
    .footer{
        left: 0;
        background-color: transparent;
        color: var(--#{$prefix}body-color);
    }
    .bg-login{
        background-color: #272E48;
        min-height: 100vh;
    }
    .title-login{
        h2{
            font-size: 34px;
            color:#BDD1F8;
        }
        p{
            color: #8A99B5;
            font-size: 13px;
        }
    }
    .banner-login {
        a{
            display: block;width: 100%;
        }
        .w-full{
            width: 100%;
            object-fit: cover;
        }
        .h-full{
            min-height: 100vh;
            max-height: 100vh;
        }
    }
    form {
        label{
            color:#8A99B5
        }
        input{
            height: 40px;
            border:1px solid #464D5C;
            background: #1A233A;
            color:#8A99B5;
        }
        .form-check-input[type="checkbox"]{
            display: none;
        }
        .float-end a{
            font-size: 12.8px;
            color: #8A99B5;
        }
        button{
            height: 40px;
            font-size: 16px;
            background: #5a8dee ;
            position: relative;
            &:hover{
                box-shadow: 0 4px 12px 0 rgba(90, 141, 238, 0.6);
                background-color: #719df0 !important;
                border-color: #2c6de9;
                i.ri-arrow-right-line{
                    right: 5px;
                }
            }
            i.ri-arrow-right-line{
                position: absolute;
                right: 15px;
                transition: 0.1s ease-in-out;
            }
        }
        #password-addon{
            border: 0;
        }
        .form-check {
            label{
                margin-bottom: 0;
                &::before{
                    left: 0;
                    position: absolute;
                    content: "";
                    border-radius: 4px;
                    width: 15px;
                    height: 15px;
                    top: 3px;
                    background-color: #304256;
                    border: 1px solid #464D5C;
                }
                &::after{
                    width: 15px;
                    height: 15px;
                    top: 3px;
                    content: " ";
                    border-radius: 4px;
                    transition: 0.1s ease-in-out;
                    left: 0;
                    position: absolute;
                    border: 1px solid #464D5C;
                }
            }
            input:checked ~ label:after {
                border-top-style: none;
                border-right-style: none;
                border-color: #5A8DEE;
                border-radius: 0;
                border-width: 2px;
                height: 5px;
                width: 8px;
                top: 7px;
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                left: 4px;
            }
            
        }
        
    }
}

.auth-one-bg-position{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 380px;
    
    @media (max-width: 575.98px) {
        height: 280px;
    }
}

.auth-one-bg{
    background-image: url("~@/assets/images/auth-one-bg.jpg");
    background-position: center;
    background-size: cover;

    .bg-overlay{
        background: linear-gradient(to right, darken($primary, 6%), $primary);
        opacity: 0.9;
    }
}


.shape{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    >svg {
        width: 100%;
        height: auto;
        fill: var(--#{$prefix}body-bg);
        }
}

// auth-pass-inputgroup

.auth-pass-inputgroup{
    input[type="text"] + .btn .ri-eye-fill{
        &:before{
            content: "\ecb6";
        }
    }
}

.particles-js-canvas-el{
    position: relative;
}

// signin card title

.signin-other-title{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        border-top: 1px dashed var(--#{$prefix}border-color);
        top: 10px;
    }

    .title{
        display: inline-block;
        position: relative;
        z-index: 9;
        background-color: var(--#{$prefix}secondary-bg);
        padding: 2px 16px;
    }
}

// Auth cover

.auth-bg-cover{
    background: $auth-bg-cover;

    > .bg-overlay{
        background-image: url("~@/assets/images/cover-pattern.png");
        background-position: center;
        background-size: cover;
        opacity: 1;
        background-color: transparent;
    }

    .footer{
        color: rgba($white, .5);
    }
}

//passowrd validations 
#password-contain {
    display: none;

    p {
        padding-left: 13px;

        &.valid {
            color: $success;

            &::before {
                position: relative;
                left: -8px;
                content: "✔";
            }
        }

        &.invalid {
            color: $danger;

            &::before {
                position: relative;
                left: -8px;
                content: "✖";
            }
        }
    }
}